
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website/{{webId}}/page/{{pageId}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateWidget()" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Header Widgets Edit
    </a>
  </div>
</nav>

<div class="container mypadding">
  <form>
    <div class="form-group">
      <label for="heading-text">Text</label>
      <input type="text" class="form-control" id="heading-text"  [(ngModel)]="widget.text" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="heading-size">Size</label>
      <input type="text" class="form-control" id="heading-size"  [(ngModel)]="widget.size" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
  <a (click)="deleteWidget()" class="btn btn-danger  btn-block">Delete</a>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a (click)="profile()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
