<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<a routerLink="/login">Login</a>
<!--<a routerLink="/register">Register</a>-->
<!--<a routerLink="/profile">Profile</a>-->
<!--<a routerLink="/website-edit">Edit Website</a>-->
<!--<a routerLink="/website-new">New Website</a>-->
<!--<a routerLink="/website-list">Website List</a>-->
<!--<a routerLink="/page-list">page List</a>-->
<!--<a routerLink="/page-new">page List</a>-->
<!--<a routerLink="/page-edit">page List</a>-->
<router-outlet></router-outlet>





