<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website/{{webId}}/page/{{pageId}}/widget/new" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      TEXT
    </a>
  </div>
</nav>

<div class="container mypadding">

  Text
  <input [(ngModel)]="text" class="form-control"/>
  Rows
  <input [(ngModel)]="rows" class="form-control"  placeholder="enter number 1 or above... " type="number"/>

  <label for="Name">Name</label>
  <div>
    <input [(ngModel)]="name"
           type="text"
           class="form-control"
           id="Name"
           name="name"
           placeholder="Name">

  </div>

  Placeholder
  <input [(ngModel)]="placeholder" class="form-control" required/>
  <p></p>
  <div class="input-group">
    <input type="text"
           readonly
           value="Formatted"
           class="form-control"/>
    <span class="input-group-addon">
        <input [(ngModel)]="formatted"
               type="checkbox" value="false"/>
    </span>
  </div>


</div>

<a (click)="createWidget() " class="btn btn-danger  btn-block" >Create Widget</a>


