<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">


    <a routerLink="/profile/{{userId}}/website/new" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding" >
      <span class="glyphicon glyphicon-plus"></span></a>
    </div>

  </nav>

  <div class="container mypadding">
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless" *ngFor = "let website of websites">
       <a  routerLink="/profile/{{userId}}/website/{{website._id}}" ><span class="glyphicon glyphicon-cog pull-right"></span></a>
        <a  routerLink="/profile/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
        <!--{{website.name}}-->
      </li>
    </ul>
  </div>


  <nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
    <a (click)="profile()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>





