<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>New Page</title>

  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


<div>
  <nav class="container-fluid navTop ">
    <h3 class="navColor"><a href="../pages/page-list.html"><span class="glyphicon glyphicon-chevron-left navColor"
                                                              aria-hidden="true"></span></a> New Page
      <a href="page-list.html">
        <spam class="glyphicon glyphicon-ok navbar-link navbar-right navColor pull-right"></spam>
      </a></h3>
  </nav>
</div>

<div class="mypadding"></div>

<div>
  <form>
    <div class="divStyle">
      <label>Name</label>
      <input type="text" class="form-control" value="Address Book">
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" value="Address Book">
    </div>
  </form>
</div>



<nav class="navBottom">
  <div>
    <h4> <a href="../user/profile.html">
      <spam class="glyphicon glyphicon-user  navColor nav-right pull-right"></spam>
    </a></h4>
  </div>
</nav>




</body>
</html>
