<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Choose Widget</title>

  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div>
  <nav class="container-fluid navTop ">
    <h3 class="navColor"><a href="../widget/widget-list.html"><span class="glyphicon glyphicon-chevron-left navColor"
                                                              aria-hidden="true"></span></a> Choose Widget
    </h3>
  </nav>
</div>

<div class="mypadding"></div>


<ul class="list-group" >
  <li class="list-group-item">
    <a href="widget-heading.html">Header</a>
  </li>
  <li class="list-group-item">
    <a href="widget-image.html">Image</a>
  </li>
  <li class="list-group-item">
    <a href="widget-youtube.html">You Tube</a>
  </li>
  <li class="list-group-item">
    <a href="#">Label</a>
  </li>
  <li class="list-group-item">
    <a href="#">HTML</a>
  </li>
  <li class="list-group-item">
    <a href="#">Text View</a>
  </li>
  <li class="list-group-item">
    <a href="#">Link</a>
  </li>
  <li class="list-group-item">
    <a href="#">Button</a>
  </li>
</ul>

<nav class="navBottom">
  <div>
    <h4> <a href="../user/profile.html">
      <spam class="glyphicon glyphicon-user  navColor nav-right pull-right"></spam>
    </a></h4>
  </div>
</nav>


</body>
</html>
