<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Widget List</title>

  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
</head>
<body>

<div>
  <nav class="container-fluid navTop ">
    <h3 class="navColor"><a href="../pages/page-list.html"><span class="glyphicon glyphicon-chevron-left navColor"
                                                              aria-hidden="true"></span></a>Widget Edit
      <a href="widget-choose.html">
        <spam class="glyphicon glyphicon-plus navbar-link navbar-right navColor pull-right"></spam>
      </a></h3>
  </nav>
</div>

<div class="mypadding"></div>


<!-- HEADING -->
<div class="mypadding">
  <a href="widget-choose.html">
    <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
  </a>
  <a href="widget-heading.html">
    <spam class="glyphicon glyphicon-cog pull-right"></spam>
  </a>
  <h1>Northeastern University Seattle, Web Developement Class Spring 2018</h1>
</div>

<!--IMAGE -->
<div class="mypadding">
  <a href="widget-choose.html">
    <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
  </a>
  <a href="widget-image.html">
    <spam class="glyphicon glyphicon-cog pull-right"></spam>
  </a>
  <img class="img-responsive img-rounded cl-widget-images" width="100%"
       src="https://pbs.twimg.com/media/DKRtRWMVAAAPIir.jpg">
</div>


<div class="mypadding">
  <a href="widget-choose.html">
    <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
  </a>
  <a href="#">
    <spam class="glyphicon glyphicon-cog pull-right"></spam>
  </a>
  <p>Founded in 1898, Northeastern is a top-tier, nonprofit research university, grounded in experiential learning. We
    integrate academic coursework with professional work, research, service, and global learning opportunities in 128
    countries.
  </p>
</div>


<div class="mypadding">
  <a href="widget-choose.html">
    <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
  </a>
  <a href="widget-youtube.html">
    <spam class="glyphicon glyphicon-cog pull-right"></spam>
  </a>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zJAOtGUAKYY" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<nav class="navBottom">
  <div>
    <h4> <a href="../user/profile.html">
      <spam class="glyphicon glyphicon-user  navColor nav-right pull-right"></spam>
    </a></h4>
  </div>
</nav>


</body>
</html>
