<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<form>
  <h2>Login</h2>
  <div class="divStyle">
    <input type="text" class="form-control" placeholder="Username">
  </div>
  <div class="divStyle">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block" formaction="profile.html">Login</button>
  <button type="submit" class="btn btn-success btn-lg btn-block" formaction="register.html">Register</button>
</form>
</body>
</html>
